In [17]:
import pandas as pd
import matplotlib as mtpl
import seaborn as sns


data = pd.read_csv('datasets/insurance.csv')

In [18]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [19]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [21]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [22]:
data['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [23]:
data['smoker'].value_counts()

smoker
no     1064
yes     274
Name: count, dtype: int64

In [24]:
data['sex'] = data['sex'].map({'female': 0, 'male': 1})
data['smoker'] = data['smoker'].map({'yes': 0, 'no': 1})
data['region'] = data['region'].map({'southeast': 0, 'southwest': 1, 'northwest': 2, 'northeast': 3 })

In [25]:
data

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       0       1  16884.92400
1      18    1  33.770         1       1       0   1725.55230
2      28    1  33.000         3       1       0   4449.46200
3      33    1  22.705         0       1       2  21984.47061
4      32    1  28.880         0       1       2   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       1       2  10600.54830
1334   18    0  31.920         0       1       3   2205.98080
1335   18    0  36.850         0       1       0   1629.83350
1336   21    0  25.800         0       1       1   2007.94500
1337   61    0  29.070         0       0       2  29141.36030

[1338 rows x 7 columns]

In [26]:
X = data.drop('charges', axis=1)
y = data['charges']

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

model = GradientBoostingRegressor(random_state=42)
model.fit(X_train, y_train)
score = model.score(X_test, y_test)

print('Score: ', score)

Score:  0.8752362548194214

In [28]:
import xgboost as xgb

model2 = xgb.XGBRegressor(
    objective='reg:squarederror',
    n_estimators=100,
    max_depth=3,
    learning_rate=0.1,
    subsample=0.8,
    colsample_bytree=0.8
)


model2.fit(X_train, y_train)

score = model2.score(X_test, y_test)
score

0.8793872634040242

In [29]:
X_test[10:15]

     age  sex    bmi  children  smoker  region
872   42    1  24.86         0       1       0
295   18    1  22.99         0       1       3
865   40    1  29.90         2       1       1
424   48    1  30.20         2       1       1
639   56    1  33.66         4       1       0

In [30]:
y_test[10:15]

872     5966.8874
295     1704.5681
865     6600.3610
424     8968.3300
639    12949.1554
Name: charges, dtype: float64

In [31]:
y_pred = model.predict(X_test[10:15])

y_pred

array([ 6160.90451027,  1910.42392989,  8215.27358638, 10308.13906996,
       15737.85234438])

In [32]:
y_pred2 = model2.predict(X_test[10:15])

y_pred2

array([ 5474.787 ,  2295.2498,  7533.3945, 10719.751 , 15481.88  ],
      dtype=float32)